[flake8]
application-import-names = src
docstring-convention = google
exclude =
  src/kg_api/models/alembic/
ignore = ANN002,ANN003,ANN101,E203,E501,W503
import-order-style = google
max-cognitive-complexity = 15
max-complexity = 10
max-line-length = 100
per-file-ignores =
  tests/*:ANN001,ANN201,B950,D103,D100,DAR
  src/kg_api/models/__init__.py:F401
  src/kg_api/graph/__init__.py:F401
  src/kg_api/scripts/load/__init__.py:F401
  src/kg_api/scripts/get/__init__.py:F401
select =ANN,B,B9,C,D,E,F,I,N8,PT,W
